{% extends 'main.html.twig' %}

{% block title %}Team Statistik{% endblock %}

{% block importmap %}{{ importmap(['app', 'statistic']) }}{% endblock %}

{%- block headline -%} Statistik {%- endblock headline -%}

{% block main %}
{% if is_granted('ROLE_ADMIN') %}
    <dialog id="import-dialog">
        <header><h2>Statistik Import</h2></header>
        <article>{{ component('StatisticImportForm', {formData: formData, form: form}) }}</article>
    </dialog>
    <button id='import-button' style="float:right;">IMPORT</button>
{% endif %}

{{component('StatisticOverviewController')}}
<div id="table-container" class="table-container" data-url="{{dataUrl}}"></div>

{% endblock main %}
